body{
     background: #1A4341;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}

div{
     width: 100px;
     height: 100px;
     background: #b4aeac;
     border-radius: 50%;
     position: relative;
}

:before,:after{
     content: '';
     position: absolute;
     border-radius: 50%;
     background: #f35120;
}

div:before{
     width: 30px;
     height: 30px;
     top: 20px;
     left: 20px;
}

div:after{
     width: 10px;
     height: 10px;
     top: 20px;
     right: 20px;
}

body:after{
     width: 20px;
     height: 20px;
     bottom: 46%;
     left: 49%;
}

span{
     width: 10px;
     height: 180px;
     background: #f35120;
     border-radius: 100px; 
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transform-origin: center 100px;
}
span:nth-child(2){
     transform: translate(-50%, -50%) rotate(60deg);
}
span:nth-child(3){
     transform: translate(-50%, -50%) rotate(120deg);
}